* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background: #2c2f33;
}

p, h1, h2, h3 {
  margin: 0;
  margin-bottom: 5px;
  color: #fff;
}

h1 {
  text-align: center;
}

.App {
  margin: 0 auto;
  padding: 0 1em;
  max-width: 1000px;
}

.name-field {
  text-align: center;
  margin-bottom: 2em;
}

.name-field__text-box {
  background: none;
  border: none;
  border-bottom: solid 2px #fff;
  color: #fff;
  font-size: 2em;
  text-align: center;
}

.stats-list {
  margin-bottom: 2em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1em;
}

.stats-list--player {
  grid-template-columns: 1fr 2fr 1fr;
}

.stats-list--player .stats-list__box {
  grid-column-start: 2;
}


.stats-list__box {
  border: solid 1px white;
  padding: 1em;
}

.stats-list__kda {
  font-size: 5em;
}

.stats-list__kda-text {
  margin-left: 5px;
  font-size: 36px;
}

.stats-list__player {
  font-size: 24px;
}

.blue-title {
  color: #99C9FF;
}

.red-title {
  color: #FFB5A1;
}