* {
  font-family: 'Montserrat', sans-serif;
}

p, h1, h2, h3 {
  margin: 0;
  margin-bottom: 5px;
}

.App {
  margin: 1em;
}

.stats-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 1em;

  margin-bottom: 2em;
}

.stats-list__box {
  border: solid 1px black;
  padding: 1em;
}

.stats-list__kda {
  font-size: 5em;
}

.stats-list__kda-text {
  margin-left: 5px;
  font-size: 36px;
}

.stats-list__player {
  font-size: 24px;
}